/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body, html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,103,124,1) 100%);
    color: white;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
  }


  footer {
    background: black;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .nav-btn:hover {
    background:#0004dd;
  }

  .nav-btn:hover .nav-btn {
    filter: blur(4px);
  }

  button {
    min-height: 65px;
  }

  .desc-field {
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #oracles-cnt{
    display: grid;
  }

  #moves-cnt, #encounters-cnt, #assets-cnt, #truths-cnt {
    display: none;
  }

  .nav-btn {
    display:block;
    text-align: center;
    align-self: center;
    margin: auto;
    gap: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #002ba0, #090083, #000264, #2326d5);
    background-size: 400% 400%;
    animation: gradient 35s ease infinite;
    border: 0px;
    color: white;
    align-items: center;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #navbar {
    background: rgb(2,0,36);
    background: linear-gradient(47deg, rgba(2,0,36,1) 0%, rgba(51,0,103,1) 35%, rgba(0,11,88,1) 100%);
    height: 100vh;
    text-align: center;
  }

  #navbar {
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
  }

  #shownav {
    position:absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    color: #0c00b1;
    background-color: transparent;
    border: 0px;
  }

  #navmenubtn:hover {
    filter: invert(5%) sepia(5%) saturate(300%) hue-rotate(175deg) brightness(500%) contrast(109%);
  }
  .main-heading {
    gap: 10px;
    padding: 10px;
    padding-left: 30px;
    height: 15%;
  }

  .selection-container, .roll-oracle {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    gap: 10px;
    width: 90%;
  }

  .category-select {
    min-height: 50px;
  }

  .roll-oracle {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375em;
    text-decoration: none;
    line-height: 1.2;
    cursor: cell;
    transition: 0.2s;
    will-change: transform;
    width: 90%;
    margin: 10px;
    gap: 10px;
  }

  .desc-field, .results {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    width: 90%;
    border: 2px white solid;
    border-radius: 5px;
    padding: 25px;
    gap: 5px;
    overflow: auto;
  }

  .dice-result {
    font-style: italic;
    font-size: 0.8em;
  }

  #main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    flex: 1;
  }

  

  #content-container {
    display: flex;
    flex-flow: column wrap;
    grid-area: 1 / 2 / 6 / 9;
  }

  #grid-cnt {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
  }

  
